HMER_PROJECT_HOST_PATH=../hmer-project
HMER_HF_CACHE_HOST_PATH=../../hf-cache
HMER_GATEWAY_BIND_ADDRESS=127.0.0.1
HMER_UNIMUMER_BASE_MODEL=phxember/Uni-MuMER-Qwen3.5-2B
HMER_UNIMUMER_BASE_MODEL_REVISION=40a6288292057f1c162b3b0eaccd362036dbd495
HMER_PREDICT_TIMEOUT_SECONDS=180
HF_HUB_OFFLINE=1
TRANSFORMERS_OFFLINE=1
